@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    color:white;
} 

html, body{
    padding:0;
    margin:0;
    background: black;
}

.menu{
    display: flex;
    justify-content: center;
    height:100px;
}

h1{
    padding:1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
}

a{
    text-decoration: none;
}

.active{
    color: #6CD4FF;
}
